/* VARIBILE COLORE  */
:root{
    --color-P: #ECE2D0;
    --color-S: #9F86C0;
    --color-A: #03B5AA;
}
/* FONT PER I TIPI DI TESTO  */
*{
    font-family: 'Overlock SC', sans-serif; 
}

.font-title{
    font-family: 'Exo', sans-serif;
}

/* COLORE TESTO  */
.color-P{
    color: var(--color-P);
}
.color-S{
    color: var(--color-S);
}
.color-A{
    color: var(--color-A);
}

/* BACKGROUND COLOR  */
.bg-P{
    background-color: var(--color-P);
}
.bg-S{
    background-color: var(--color-S);
}
.bg-A{
    background-color: var(--color-A);
}

/* HEADER  */

/* TITOLO HEADER  */

.animationPulse{
    animation: pulse 1s;
}

@keyframes pulse {
    0%{
        transform: scale(1);
    }
    25%{
        transform: scale(0.95);
    }
    50%{
        transform: scale(1.10);
    }
    75%{
        transform: scale(0.95);
    }
    100%{
        transform: scale(1);
    }
}
    



/* NAVBAR  */

.nav-custom{
    backdrop-filter: blur(10px);
    background-color: #aa74f171;
    
}

.transition{
    transition: 0.5s;
}

/* BOTTONI HEADER  */

.btn-custom{
    padding: 3px 3px;
    margin: 2px;
    border: 2px solid var(--color-A);
    border-radius: 10px;
}

.btn-custom:hover{
    color: black;
    background-color: var(--color-A);
    
}

/* ULTIMI ANNUNCI  */

.card:hover{
    border: 3px double var(--color-A) ;
    transform: scale(1,1);
}




/* CATEGORIE  */

.border-custom{
    border-bottom: 1px solid var(--color-P)
}

.img-category{
    border: 3px solid var(--color-P);
    padding: 5px;
    width: 100%;
    border-radius: 50%;
}


/* NUMERI UTENTI MESSSAGGI PRODOTTI */

.box-number{
    height: 100px;
    background-color:#9f86c0a4;
    border-radius: 20px;
    border: 5px double var(--color-S);
    font-size: 20px;
    align-items: center;


}


/* SWIPER   */
.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }

  .boxRecensione{
    height: 100%;
    background-color: var(--color-S);
    border-radius: 20px;
  }

  .img-recensione{
    width: 70px !important;
    border: 2px solid var(--color-A);
    border-radius: 50%;
    padding: 5px;
  }


@media screen and (min-width: 750px){
    /* NAVBAR */
    .nav-custom{
        margin: 5vh 20vw;
        border: 2px solid var(--color-A);
        border-radius: 10px;
    }
    
}